* {
  box-sizing: border-box;
}

body {
  font-family: "Droid Sans", sans-serif;
}

/* Start Header */

.header {
  background: url(../images/header.jpg) no-repeat top center;
  background-size: cover;
  min-height: 500px;
  position: relative;
  top: -18px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 168, 255, 0.5);
  color: #fff;
}

.header h1 {
  font-size: 60px;
  margin-top: 100px;
}

.header .plan {
  border: 4px solid #fff;
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 20px;
  font-size: 24px;
}

.header .order {
  border: 4px solid #fff;
  margin: 30px 1% 0;
  padding: 20px;
  font-size: 24px;
}

@media (max-width: 420px) {
  h1 {
    margin-top: 20px !important;
    font-size: 50px !important;
  }

  .overlay .plan {
    float: none;
    margin: 0 auto 20px;
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  h1 {
    margin-top: 40px !important;
  }

  .overlay .plan {
    float: none;
    margin: 0 auto 20px;
    font-size: 22px;
  }
}

/* End Header */

/* Start Features */
.features {
  padding: 30px 0;
}

.features .h1 {
  font-size: 50px;
  color: #555;
}

.features .feat {
  color: #555;
  padding: 0 20px 0 0;
  margin-bottom: 30px;
}

.features .feat h2 {
  margin: 10px 0 8px;
}

.features .feat p {
  line-height: 1.6;
  margin: 0;
}

@media (max-width: 767px) {
  .features .feat {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .features .feat {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .features .feat {
    width: 33.333%;
  }
}

/* End Features */

/* Start About Us */
.about-us {
  padding: 30px 0;
  background-color: #ececec;
}

.about-us .h1 {
  color: #848484;
  font-size: 50px;
}

.about-us .responsive-paragraph {
  color: #848484;
}

/* End About Us */

/* Start Our Works */
@media (max-width: 767px) {
  .our-works .image {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .our-works .image {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .our-works .image {
    width: 33.33333%;
  }
}

@media (min-width: 1200px) {
  .our-works .image {
    width: 25%;
  }
}

/* End Our Works */

/* Start pricing Table */
.pricing-table {
  background-color: #444;
  color: #fff;
  padding: 50px 0;
  height: 500px;
}

.pricing-table .h1 {
  margin: 0 0 40px;
  font-size: 50px;
}

.pricing-table .pricing-plan {
  border: 3px solid #fff;
  padding: 20px 0;
  position: relative;
}
.pricing-table .pricing-plan h3 {
  margin: 0 0 10px;
  font-size: 26px;
}

.pricing-table .pricing-plan .pricing {
  display: inline-block;
  margin: 0 0 10px;
  font-size: 22px;
  color: #bfbfbf;
}

.pricing-table .pricing-plan ul {
  line-height: 2;
  font-size: 22px;
}

@media (max-width: 767px) {
  .pricing-table .pricing-plan {
    width: 100%;
    margin-bottom: 20px;
  }
  .pricing-table {
    height: 1300px;
  }
}
@media (min-width: 768px) {
  .pricing-table .pricing-plan {
    width: 100%;
    margin-bottom: 20px;
  }
  .pricing-table {
    height: 1250px;
  }
}
@media (min-width: 992px) {
  .pricing-table .pricing-plan:not(.ultimate) {
    margin-right: 1%;
  }

  .pricing-table .pricing-plan {
    width: 32.66666%;
    margin-bottom: 0px;
  }
  .pricing-table .pricing-plan.plus {
    width: 32.66666%;
  }
  .pricing-table .pricing-plan.premium {
    width: 32.66666%;
  }
  .pricing-table {
    height: 500px;
  }
}

/* End pricing Table */

/* Start What They Say */
.they-say {
  padding: 50px 0;
  height: 520px;
}

.they-say .h1 {
  font-size: 50px;
  color: #555555;
  margin: 0 0 30px;
}

.they-say .person-say {
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 0 0 25px;
}

.they-say .person-say .avatar {
  width: 120px;
  margin-right: 20px;
}
.they-say .person-say h3 {
  font-size: 20px;
  margin: 5px 0 10px;
}
.they-say .person-say p {
  width: calc(100% - 140px);
  line-height: 1.8;
  color: #555;
  margin: 0;
}

@media (max-width: 767px) {
  .they-say .person-say .avatar {
    float: none;
    margin: auto;
  }
  .they-say .person-say h3 {
    float: none;
    text-align: center;
  }
  .they-say .person-say p {
    float: none;
    width: 100%;
  }

  .they-say {
    height: 1060px;
  }
}

@media (min-width: 768px) {
  .they-say .person-say:first-of-type {
    width: 100%;
  }
  .they-say .person-say:not(:first-of-type) {
    width: 49%;
  }
  .they-say .person-say:last-of-type {
    margin-left: 2%;
  }

  .they-say {
    height: 720px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .they-say .person-say:not(:first-of-type) .avatar {
    float: none;
    margin: auto;
  }
  .they-say .person-say:not(:first-of-type) h3 {
    float: none;
    text-align: center;
  }
  .they-say .person-say:not(:first-of-type) p {
    float: none;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .they-say .person-say:first-of-type {
    width: 80%;
    margin-left: 10%;
  }

  .they-say {
    height: 620px;
  }
}

/* End What They Say */

/* Start Information */
.information {
  background-color: #ececec;
  padding: 50px 0;
  font-size: 18px;
}

.information .h1 {
  font-size: 50px;
  color: #848484;
}

.information .info-list li {
  display: inline-block;
  background-color: #ddd;
  padding: 15px;
  font-size: 22px;
  cursor: pointer;
}

.information .info-list li.selected {
  background-color: #fff;
  color: #22a9bd;
}

.information .info-content {
  margin-bottom: 30px;
}

.information .info-content > div {
  background-color: #fff;
  padding: 20px;
  line-height: 2;
}
.information .info-content > div:not(:first-of-type) {
  display: none;
}

@media (max-width: 767px) {
  .information .info-list li {
    display: block;
  }
}

/* End Information */

/* Start Footer */
.footer {
  background-color: #333;
  color: #fff;
}

.footer .copyright,
.footer .design {
  padding: 20px;
  text-align: center;
}

@media (max-width: 767px) {
  .footer .copyright,
  .footer .design {
    width: 100%;
  }
}

@media (min-width: 767px) {
  .footer .copyright,
  .footer .design {
    width: 50%;
  }
}

/* End Footer */

@media (max-width: 767px) {
  /* Mobiles & Tablets */
  .visible-xs {
    display: block !important;
  }
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Small Screen */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* Medium Screen */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* Large Screen*/
  .container {
    width: 1170px;
  }
}

/* Start My Framework */
.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.text-center {
  text-align: center;
}

.clear-fix {
  clear: both;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.h1 {
  font-size: 2em;
}

.responsive-paragraph {
  line-height: 1.8;
  font-size: 22px;
}

.responsive-image {
  width: 100%;
}

.classic-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.img-circle {
  border-radius: 50%;
}

.img-thumbnail {
  padding: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
}

/* End My Framework */
